<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Features List</b></h4>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-success" (click)="AddFeature()">
              <i class='fas fa-plus-circle'></i><span> Create Feature</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-content">
        <thead>
          <tr class="center-align">
            <th>Id</th>
            <th>Title</th>
            <th>Estimated Complexity</th>
            <th>Status</th>
            <th>Target Completion Date</th>
            <th>Actual Completion Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let feature of featureList" class="center-align">
            <td>{{ feature.id }}</td>
            <td>{{ feature.Title }}</td>
            <td>{{ feature.EstimatedComplexity }}</td>
            <td>{{ feature.Status }}</td>
            <td>{{ feature.TargetCompletionDate }}</td>
            <td>{{ feature.ActualCompletionDate }}</td>
            <td>
              <a href="#" [routerLink]="['/Feature', feature.id]" class="btn"><i class="fa fa-edit edit"></i></a>
              <button type="button" (click)="deleteConfirmation(feature)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
            </td>
          </tr>

          <tr>
            <td *ngIf="featureList.length == 0" colspan="8" style="text-align: center;">No Record Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>